* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  user-select: none;
}

html {
  height: 100%;
}

body {
  padding: 1rem;
  min-height: 100%;
}

button {
  margin-bottom: 1rem;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 0.3rem;
  background-color: royalblue;
  color: white;
  cursor: pointer;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.3);
  font-size: 1rem;
}

#blocklyDiv {
  height: calc(100vh - 6rem);
  width: calc(100% - 2rem);
}
